.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-dark);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.navbar-logo img {
  min-width: 217px;
  width: 15vw;
  min-height: 46px;
  height: 3.1vw;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu-item button {
  background: transparent;
  color: var(--color-light);
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 14px;
  transition: all 0.3s ease;
}

.navbar-menu-item button:hover {
  color: var(--color-accent);
}

.navbar-menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--color-light);
  font-size: 28px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
      padding: 10px;
  }
  
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-dark);
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu-toggle {
    display: block;
  }

  .navbar-menu-item {
    text-align: center;
  }
}